<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>Liste des Animaux</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="template"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            Liste des Animaux
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Age</th>
                    <th>Type</th>
					<th>categorie</th>
					<th></th>
					<th></th>
                </tr>
                <tr th:each="animal : ${animaux.content}">
                    <td th:text="${animal.id}"></td>
                    <td th:text="${animal.nom}"></td>
                    <td th:text="${animal.age}"></td>
                    <td th:text="${animal.type}"></td>
					<td th:if= "${!#strings.isEmpty(animal.categorie)}" th:text="${animal.categorie.nomCat}"></td>
					 <td th:if= "${#strings.isEmpty(animal.categorie)}" th:text="${'Pas de Catégorie'}"></td>
					
                    <td  sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')"
                           th:href="@{supprimerAnimal(id=${animal.id}, page=${currentPage}, size=${size})}">
                            Supprimer
                        </a>
                    </td >
					<td 	sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success" th:href="@{/modifierAnimal(id=${animal.id},page=${currentPage},size=${size})}">Editer</a></td>

                </tr>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
                       th:href="@{ ListeAnimaux(page=${status.index}, size=${size} ) }"
                       th:text="${status.index }"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
